<div id='qwerty'>
	<p id='title'>This is the Qwerty component.</p>

	<p id='simple'>Simply passed name: {{name}}.</p>

	<div id='hash'>
		Hash properties:
		<ul>
			<li>id: {{ item.id }}</li>
			<li>name: {{ item.name }}</li>
		</ul>
	</div>

	<p>Hash itself: {{ item }}</p>

	<div id='box'>
		Box properties:
		<ul>
			<li>width: {{ box.width }}</li>
			<li>height: {{ box.height }}</li>
			<li>depth: {{ box.depth }}</li>
			<li>color: {{ box.color }}</li>
		</ul>
	</div>

	<p>Box itself: {{ box }}</p>
</div>